In [1]:
import pandas as pd
import numpy as np
import os
from acquire import get_mall_data
import scipy as sp 
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, QuantileTransformer, PowerTransformer, RobustScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from numpy import array
from numpy import argmax

In [2]:
df= get_mall_data()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [3]:
800 * 0.05

40.0

In [4]:
pd.get_dummies(df.gender, dummy_na=False, drop_first=[True, True])

     Male
0       1
1       1
2       0
3       0
4       0
..    ...
195     0
196     0
197     1
198     1
199     1

[200 rows x 1 columns]

In [5]:
def clean_mall(df):
    dummy_df=pd.get_dummies(df.gender, dummy_na=False, drop_first=[True, True])
    df = pd.concat([df, dummy_df], axis=1)
    df=df.drop(columns=['Unnamed: 0', 'gender'])
    return df